<div class="contact-outer" id="destination">
 <div class="contact-form-main">
    <div class="contact-form" >
      <h2 >Edit User</h2>
      <form role="form" [formGroup]="editUserFrm" name="edituser_form" id="edituser_form" novalidate="novalidate"  #editUserfrm="ngForm" (ngSubmit)="editUserfrm.valid && edituser(editUserFrm.value)">
        <div class="form-grid">
          <input type="text" placeholder="First Name" type="text" name="fname" [ngClass]="((editUserFrm.controls['fname'].hasError('required') && editUserFrm.controls['fname'].touched) || (editUserfrm.submitted && editUserFrm.controls['fname'].errors)) ? 'error-input':''" value="" formControlName="fname" >
          <div class="text-error" *ngIf="((editUserFrm.controls['fname'].hasError('required') && editUserFrm.controls['fname'].touched) || (editUserfrm.submitted && editUserFrm.controls['fname'].errors))">
            <p>Please enter first name.</p>
          </div>
        </div>
        <div class="form-grid">
          <input type="text" placeholder="Last Name" type="text" name="lname" [ngClass]="((editUserFrm.controls['lname'].hasError('required') && editUserFrm.controls['lname'].touched) || (editUserfrm.submitted && editUserFrm.controls['lname'].errors)) ? 'error-input':''" value="" formControlName="lname" >
          <div class="text-error" *ngIf="((editUserFrm.controls['lname'].hasError('required') && editUserFrm.controls['lname'].touched) || (editUserfrm.submitted && editUserFrm.controls['lname'].errors))">
            <p>Please enter last name.</p>
          </div>
        </div>
        <div class="form-grid">
          <input type="text" placeholder="Email" class="form-control border-input" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [ngClass]="((editUserFrm.controls['email'].hasError('required') && editUserFrm.controls['email'].touched) || (editUserfrm.submitted && editUserFrm.controls['email'].errors) || (editUserFrm.controls['email'].errors?.pattern && editUserFrm.controls['email'].touched)) ? 'error-input':''" value="" formControlName="email">
          <div class="text-error" *ngIf="((editUserFrm.controls['email'].hasError('required') && editUserFrm.controls['email'].touched) || (editUserfrm.submitted && editUserFrm.controls['email'].errors) || (editUserFrm.controls['email'].errors?.pattern && editUserFrm.controls['email'].touched))">
            <p  *ngIf="(editUserFrm.controls['email'].errors?.pattern)">Please enter valid email address.</p>
            <p  *ngIf="(!editUserFrm.controls['email'].errors?.pattern && editUserFrm.controls['email'].hasError('required'))">Please enter email address.</p>
          </div>
        </div>
        <div class="form-grid">
          <input type="text" placeholder="Mobile" type="text" name="mobile" [ngClass]="((editUserFrm.controls['mobile'].hasError('required') && editUserFrm.controls['mobile'].touched) || (editUserfrm.submitted && editUserFrm.controls['mobile'].errors)) ? 'error-input':''" value="" formControlName="mobile">
          <div class="text-error" *ngIf="((editUserFrm.controls['mobile'].hasError('required') && editUserFrm.controls['mobile'].touched) || (editUserfrm.submitted && editUserFrm.controls['mobile'].errors))">
            <p>Please enter mobile number.</p>
          </div>
        </div>
        <div class="form-grid form-submit-full">
          <input type="submit" [disabled]="(saveBtnDisabled)" value="Save">
          <input type="button" routerLink="/" value="Back">
        </div>
      </form>
    </div>
  </div>
</div>