    <div class="contact-outer" id="destination">
       <div class="contact-form-main">
          <div class="contact-form" *ngIf="tabName == 'add' || tabName == 'edit'">
            <h2 *ngIf="!isEditUser">Add User</h2>
            <h2 *ngIf="isEditUser">Edit User</h2>
            <form role="form" [formGroup]="addUserFrm" name="contact_form" id="contact_form" novalidate="novalidate"  #addUserfrm="ngForm" (ngSubmit)="addUserfrm.valid && addOrEdituser(addUserFrm.value)">
              <div class="form-grid">
                <input type="text" placeholder="First Name" type="text" name="fname" [ngClass]="(onAddUser && ((addUserFrm.controls['fname'].hasError('required') && addUserFrm.controls['fname'].touched) || (addUserfrm.submitted && addUserFrm.controls['fname'].errors))) ? 'error-input':''" value="" formControlName="fname" >
                <div class="text-error" *ngIf="(onAddUser && ((addUserFrm.controls['fname'].hasError('required') && addUserFrm.controls['fname'].touched) || (addUserfrm.submitted && addUserFrm.controls['fname'].errors)))">
                  <p>Please enter first name.</p>
                </div>
              </div>
              <div class="form-grid">
                <input type="text" placeholder="Last Name" type="text" name="lname" [ngClass]="(onAddUser && ((addUserFrm.controls['lname'].hasError('required') && addUserFrm.controls['lname'].touched) || (addUserfrm.submitted && addUserFrm.controls['lname'].errors))) ? 'error-input':''" value="" formControlName="lname" >
                <div class="text-error" *ngIf="(onAddUser && ((addUserFrm.controls['lname'].hasError('required') && addUserFrm.controls['lname'].touched) || (addUserfrm.submitted && addUserFrm.controls['lname'].errors)))">
                  <p>Please enter last name.</p>
                </div>
              </div>
              <div class="form-grid">
                <input type="text" placeholder="Email" class="form-control border-input" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [ngClass]="(onAddUser && ((addUserFrm.controls['email'].hasError('required') && addUserFrm.controls['email'].touched) || (addUserfrm.submitted && addUserFrm.controls['email'].errors) || (addUserFrm.controls['email'].errors?.pattern && addUserFrm.controls['email'].touched))) ? 'error-input':''" value="" formControlName="email">
                <div class="text-error" *ngIf="(onAddUser && ((addUserFrm.controls['email'].hasError('required') && addUserFrm.controls['email'].touched) || (addUserfrm.submitted && addUserFrm.controls['email'].errors) || (addUserFrm.controls['email'].errors?.pattern && addUserFrm.controls['email'].touched)))">
                  <p  *ngIf="(addUserFrm.controls['email'].errors?.pattern)">Please enter valid email address.</p>
                  <p  *ngIf="(!addUserFrm.controls['email'].errors?.pattern && addUserFrm.controls['email'].hasError('required'))">Please enter email address.</p>
                </div>
              </div>
              <div class="form-grid">
                <input type="text" placeholder="Mobile" type="text" name="mobile" [ngClass]="(onAddUser && ((addUserFrm.controls['mobile'].hasError('required') && addUserFrm.controls['mobile'].touched) || (addUserfrm.submitted && addUserFrm.controls['mobile'].errors))) ? 'error-input':''" value="" formControlName="mobile">
                <div class="text-error" *ngIf="(onAddUser && ((addUserFrm.controls['mobile'].hasError('required') && addUserFrm.controls['mobile'].touched) || (addUserfrm.submitted && addUserFrm.controls['mobile'].errors)))">
                  <p>Please enter mobile number.</p>
                </div>
              </div>
              <div class="form-grid form-submit-full">
                <input type="submit" [disabled]="(saveBtnDisabled)" (click)="onsubmitFunction()" value="Save">
                <input type="button" (click)="backFunction()" value="Back">
              </div>
            </form>
          </div>
          <div class="list-contact"  *ngIf="tabName == 'list'">
            <div class="contact-info"><h2>Users</h2> <button (click)="addNewUser()">Add User</button></div>
            <div class="table-outer">
            <div class="overflow-outer">
              <div class="table-scroll">
                <table  cellspacing="0" cellpading="0" class="table table-striped table-edit-custom">
                  <thead>
                    <tr>
                      <th>First Name</th> 
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let userDatas of userData | paginate: { itemsPerPage: 5, currentPage: q }">
                      <td>{{userDatas.firstname}}</td>
                      <td>{{userDatas.lastname}}</td>
                      <td>{{userDatas.email}}</td>
                      <td>{{userDatas.mobile}}</td>
                      <td>
                        <div class="user-actions" (click)="editUserData(userDatas.id)"><img src="assets/img/edit.svg"></div>
                        <div class="user-actions del-user" (click)="deleteUser(userDatas.id)"><img src="assets/img/del.svg"></div>
                      </td>
                    </tr>
                    <tr  *ngIf="userData.length == 0">
                      <td colspan="5" style="text-align: center;opacity:  0.5;font-size: 16px;">No user found.</td>
                    </tr>
                  <tbody>
                </table>
                </div>
              </div>
              <div class="pagination-bottm">
                <pagination-controls (pageChange)="q = $event" directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page" (click)="scrollToFirst()"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
  </div>

